/* Flex container setup */
#Parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/* Card styling */
.CARDS {
  flex: 1 1 210px; /* Starts at 250px but can grow */
  max-width: calc(50% - 80px); /* Adjust based on parent width, ensuring not to exceed 50% minus margins */
  background: bisque;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Space between cards */
  color: black;
  transition: transform 0.2s; /* Smooth resizing */
  border: #D1495B;
}

@media (max-width: 768px) {
  .CARDS {
      max-width: calc(100% - 20px); /* Full width on smaller screens minus margins */
  }
}

#imageContainer {
    background-color: rgb(236, 236, 236);
    border-radius: 6px 6px 0 0;
    overflow: hidden; /* Ensures the content does not spill out of the rounded corners */
    width: 100%; /* Ensure the container fills its parent's width */
    height: auto;
}

#imageContainer:hover {
    transform: scale(0.98);
    transition: transform 0.2s ease-in-out; /* Smooth transition for hover effect */
}

/* Text content styling */
#textContainer {
    background-color: white;
    color: black;
    border-radius: 0 0 6px 6px;
    padding: 10px 7px;
}

/* Hover effects for interactive elements */
.category:hover,
.heading:hover,
.name:hover {
    cursor: pointer;
}

/* Ensure images fit within the container */
#imageContainer img {
    width: 100%; /* Makes image responsive and fits the container */
    height: auto; /* Maintain aspect ratio */
    /* display: block; */
    border-top-left-radius: 6px; /* Round the top corners to match the container */
    border-top-right-radius: 6px;
}

.buttons-container {
    display: flex;        /* This will layout its children in a row */
    gap: 10px;            /* Adjust the gap between the buttons as needed */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;  /* Align the buttons vertically */
  }
  

#editB {
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .edit-svgIcon path {
    fill: white;
  }
  
  #editB:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #D1495B;
    align-items: center;
  }
  
  #editB:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  #editB::before {
    display: none;
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;

  }
  
  #editB:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }

  #rejectB {
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 12px;
    transition-duration: .3s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  #rejectB:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: #D1495B;
    align-items: center;
  }
  
  #rejectB:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  
  #rejectB::before {
    position: absolute;
    top: -20px;
    color: white;
    transition-duration: .3s;
    font-size: 2px;

  }
  
  #rejectB:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

